# Ignore node_modules directories
/game1221/*/node_modules
/game1221/*/dist
/api/*/node_modules
/api/*/dist
/api/template_
/api/tuto
/ui/*/node_modules
/ui/*/.angular
#/ui/*/dist
/ui/template
/ui/cuba
/ui/cuda
/ui/admin/dist/
/ui/console/dist/
/ui/console/mail/
/ui/gw
/ui/memploi/.angular/cache/
/ui/auth/.angular/cache/
/ui/qnote/.angular/cache/
/ui/admin/.angular/cache/
/ui/console/.angular/cache/
/cicd/hold/
node_modules
# Ignore operating system files
.DS_Store
aws.txt
/.metadata/
/common/DynamicObject/node_modules
