<div class="container my-5">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <h1 class="display-4 fw-bold mb-4">Welcome to Modern Angular</h1>
      <p class="lead mb-4">
        Build scalable and beautiful web applications with Angular and Bootstrap
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button class="btn btn-primary btn-lg px-4 me-md-2">
          Get Started
        </button>
        <button class="btn btn-outline-secondary btn-lg px-4">
          Learn More
        </button>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="p-5">
        <img src="https://angular.dev/assets/angular-logo.svg" 
             class="img-fluid" alt="Angular Logo"
             style="max-width: 400px;">
      </div>
    </div>
  </div>
</div>