<!-- Profile Content -->
<div class="dashboard-content" style="margin-top: 85px">
  <div class="container">
    <div class="profile-content">
      <div class="messages-form">
        <div class="card">
          <div class="card-header">
            <h4>Informations Generales</h4>
          </div>
          <div class="card-body">
            <div>
              <div class="row mb-2">
                <!-- Job Title -->
                <div class="input-block col-md-3">
                  <label for="titre_job" class="col-form-label"
                    >Titre du poste</label
                  >
                  <input
                    type="text"
                    id="titre_job"
                    [(ngModel)]="job.titre_job"
                    name="titre_job"
                    class="form-control"
                    disabled="true"
                  />
                </div>

                <!-- ID Category -->
                <!-- ID Category -->

                <div class="input-block col-md-3">
                  <label for="Price" class="col-form-label">Categorie</label>
                  <mat-select
                    [(ngModel)]="job.categorie"
                    [ngModelOptions]="{ standalone: true }"
                    class="form-control"
                    name="type_ent"
                    placeholder="Categorie"
                    disabled="true"
                  >
                    <mat-option *ngFor="let cat of cats" [value]="cat.name">
                      {{ cat.name }}
                    </mat-option>
                  </mat-select>
                </div>

                <div class="input-block col-md-3">
                  <label for="Price" class="col-form-label"
                    >Date Echeance</label
                  >
                  <input
                    type="date"
                    pattern="\d{4}/\d{2}/\d{2}"
                    id="date_echeance"
                    [(ngModel)]="job.date_echeance"
                    name="date_echeance"
                    class="form-control"
                  />
                </div>

                <div class="input-block col-md-2">
                  <label for="phone" class="col-form-label">Publication</label>
                  <div class="pass-group group-img">
                    <input
                      class="ml-4"
                      type="checkbox"
                      id="publish"
                      [(ngModel)]="job.publish"
                      name="publish"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="row">
            <div class="col-md-3">
              <div class="card-header">
                <h4>Type d'emploi</h4>
              </div>
              <div class="card-body">
                <div class="input-block mb-0">
                  <ul>
                    <li *ngFor="let option of contratOptions">
                      <label class="custom_check">
                        <input
                          type="radio"
                          name="type_emploie"
                          (change)="job.type_contrat = option"
                          [(ngModel)]="job.type_contrat"
                          [value]="option"
                        />
                        <span class="checkmark"></span> {{ option }}
                      </label>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card-header">
                <h4>Environment de travail</h4>
              </div>
              <div class="card-body">
                <div class="input-block mb-0">
                  <ul>
                    <li *ngFor="let option of envOptions">
                      <label class="custom_check">
                        <input
                          (change)="job.env_de_travail = option"
                          type="radio"
                          [(ngModel)]="job.env_de_travail"
                          name="environment_de_travail"
                          [value]="option"
                        />
                        <span class="checkmark"></span> {{ option }}
                      </label>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card-header">
                <h4>Horaire de Travail</h4>
              </div>
              <div class="card-body">
                <div class="input-block mb-0">
                  <ul>
                    <li *ngFor="let option of horaireOptions">
                      <label class="custom_check">
                        <input
                          (change)="job.horaire_de_travail = option"
                          [(ngModel)]="job.horaire_de_travail"
                          type="radio"
                          name="horaire_de_travail"
                          [value]="option"
                        />
                        <span class="checkmark"></span> {{ option }}
                      </label>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card-header">
                <h4>Salaire</h4>
              </div>
              <div class="card-body">
                <div class="input-block mb-0">
                  <ul>
                    <li *ngFor="let option of salaireOptions">
                      <label class="custom_check">
                        <input
                          (change)="job.periode_salaire = option"
                          type="radio"
                          [(ngModel)]="job.periode_salaire"
                          name="periode_de_salaire"
                          [value]="option"
                        />
                        <span class="checkmark"></span> {{ option }}
                      </label>
                    </li>

                    <li *ngIf="job.periode_salaire">
                      <div class="input-block">
                        <label for="Price" class="col-form-label">Devise</label>
                        <mat-select
                          [(ngModel)]="job.currency"
                          [ngModelOptions]="{ standalone: true }"
                          class="form-control"
                          name="currenry"
                          placeholder="Devise"
                        >
                          <mat-option
                            *ngFor="let opt of devOptions"
                            [value]="opt"
                          >
                            {{ opt }}
                          </mat-option>
                        </mat-select>
                      </div>
                      <div class="input-block">
                        <label for="salaire*"
                          >Salaire
                          <span *ngIf="job.periode_salaire"
                            >({{ job.periode_salaire }})</span
                          ></label
                        >
                        <input
                          type="number"
                          id="salaire"
                          [(ngModel)]="job.salaire"
                          name="salaire"
                          class="form-control"
                        />
                      </div>
                    </li>
                  </ul>

                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h4>Description du Poste</h4>
          </div>
          <div class="card-body">
            <div>
              <!-- Job Description -->
              <div class="input-block">
                <angular-editor
                  [config]="editorConfig"
                  [(ngModel)]="job.description"
                ></angular-editor>
              </div>

              <div class="row mt-4">
                <div class="col-md-6">
                  <div class="card-header">
                    <h4>Methode d'application</h4>
                  </div>
                  <div class="card-body">
                    <div class="input-block featuresform-list mb-0">
                      <ul>
                        <li *ngFor="let option of repOptions">
                          <label class="custom_check">
                            <input
                              (change)="changeRec(option)"
                              type="radio"
                              [(ngModel)]="job.app_Reception"
                              name="app_reception"
                              [value]="option"
                            />
                            <span class="checkmark"></span> {{ option }}
                          </label>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div
                    class="card-header"
                    *ngIf="
                      job.app_reception && job.app_reception != rec.memploi
                    "
                  >
                    <h4>Reception d'application</h4>
                  </div>
                  <div class="card-body">
                    <div class="input-block mb-0">
                      <div
                        class="input-block"
                        *ngIf="job.app_reception == rec.lien"
                      >
                        <label for="lien_to_apply">Lien du poste</label>
                        <input
                          type="text"
                          id="lien_to_apply"
                          [(ngModel)]="job.lien_to_apply"
                          name="lien_to_apply"
                          class="form-control"
                        />
                      </div>

                      <div
                        class="input-block"
                        *ngIf="job.app_reception == rec.email"
                      >
                        <label for="lien_to_apply">Email du poste</label>
                        <input
                          type="email"
                          id="lien_to_apply"
                          [(ngModel)]="job.email_to_apply"
                          name="lien_to_apply"
                          class="form-control"
                        />
                      </div>

                      <div
                        class="input-block"
                        *ngIf="job.app_reception == rec.whatsapp"
                      >
                        <label for="lien_to_apply"
                          >Numero de telephone du poste</label
                        >
                        <input
                          type="phone"
                          id="lien_to_apply"
                          [(ngModel)]="job.phone_to_apply"
                          name="lien_to_apply"
                          class="form-control"
                        />
                      </div>

                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="card-header">
                    <h4>Documents exigés</h4>
                  </div>
                  <div class="card-body">
                    <div class="input-block featuresform-list mb-0">
                      <ul>
                        <li>
                          <label class="custom_check">
                            <input
                              type="checkbox"
                              [(ngModel)]="job.is_cv_require"
                            />
                            <span class="checkmark"></span> CV
                          </label>
                        </li>

                        <li>
                          <label class="custom_check">
                            <input
                              type="checkbox"
                              [(ngModel)]="job.is_lm_require"
                            />
                            <span class="checkmark"></span> Lettre de motivation
                          </label>
                        </li>

                        <li>
                          <label class="custom_check">
                            <input
                              type="checkbox"
                              [(ngModel)]="job.is_certificat_require"
                            />
                            <span class="checkmark"></span> Certificat
                          </label>
                        </li>

                        <li>
                          <label class="custom_check">
                            <input
                              type="checkbox"
                              [(ngModel)]="job.is_diplome_require"
                            />
                            <span class="checkmark"></span> Diplome
                          </label>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" (click)="addJob($event)">
          Modifier
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /Profile Content -->
