<div class="container-fluid p-0">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="login-card login-dark">
        <div>
          <div class="login-main">
            <div class="theme-form text-center card p-4" style="margin-top: 35%">
              <h4>Connectez-vous</h4>
              <p>Console Monkata</p>
              <div class="form-group mb-0">
                <div class="text-end mt-3">
                  <button
                    class="btn btn-primary d-block w-100"
                    (click)="login()"
                    type="button"
                  >
                    <span>Connectez-vous avec Monkata</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
