<!--About Content-->
<section class="about-content" style="margin-top: 120px">
  <div class="container">
    <div class="about-listee">
      <div class="about-img">
        <img
          width="646"
          height="486"
          src="assets/img/cont.jpeg"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="about-info">
        <h4><span>A Propos</span> de Nous</h4>
        <p>
          MEMPLOI.COM est l'avenir de l'emploi en Haïti, la principale
          plateforme de talents reliant les emplois et les chercheurs.
          Rejoignez-nous dès aujourd'hui et découvrez comment nous pouvons vous
          aider à atteindre vos objectifs professionnels, que ce soit en tant
          qu'employeur ou en tant que professionnel à la recherche
          d'opportunités passionnantes. Memploi.com est la plateforme d'emploi
          par excellence pour les professionnels, les consultants, et les
          étudiants à la recherche de travail en Haïti: emplois, appel d'offres,
          consultations, bourses, etc.
        </p>
        <p>
          Chez MEMPLOI.COM, nous comprenons que chaque entreprise et chaque
          professionnel est unique. C'est pourquoi nous personnalisons nos
          services et les adaptons aux nécessités spécifiques des industries,
          des entreprises et des travailleurs. Notre engagement envers
          l'excellence et l'innovation nous pousse à constamment améliorer nos
          services et à rester à la pointe de l'industrie de l'emploi en Haïti.
        </p>
      </div>
    </div>
  </div>
</section>
<!--/About Content-->

<!--How It Works-->
<section class="howitworks">
  <div class="container">
    <h3>Candidats</h3>
    <p>
      Nous sommes déterminés à vous aider à trouver le job parfait en
      simplifiant le processus de recherche et de candidature. Pour commencer,
      créez d'abord un compte en fournissant votre nom, votre adresse e-mail et
      un mot de passe sécurisé. Cela vous donne accès à un tableau de bord
      personnalisé où vous pouvez enregistrer vos recherches d'emploi et suivre
      l'historique de vos candidatures. Ensuite, améliorez votre profil en
      complétant votre CV avec vos informations personnelles, vos expériences
      professionnelles, votre formation et vos compétences.
    </p>
    <p>
      Enfin, utilisez nos puissants outils de recherche pour trouver des offres
      d'emploi correspondant à vos critères. Consultez les descriptions de poste
      pour vous assurer qu'elles vous conviennent et postulez aux postes
      adéquats en soumettant votre CV et les documents requis. Notre plateforme
      simplifie le processus de candidature, vous permettant de gérer toutes vos
      candidatures en un seul endroit et de suivre facilement votre progression.
      En suivant ces étapes, vous pouvez naviguer efficacement sur le marché de
      l'emploi et trouver des opportunités qui correspondent à vos aspirations
      professionnelles. Commencez votre parcours avec nous aujourd'hui et faites
      le premier pas vers votre job de rêve!
    </p>
    <div class="row">
      <div class="col-lg-4 col-md-4 d-flex">
        <div class="howitwork-info">
          <h5>01</h5>
          <h6>Créer un compte</h6>
          <p>
            Inscrivez-vous sur notre plateforme en fournissant votre nom, votre
            adresse e-mail et un mot de passe sécurisé pour créer votre compte
            utilisateur. Cela vous permet d'accéder à un tableau de bord
            personnalisé, d'enregistrer des recherches d'emploi et de suivre
            l'historique de vos candidatures.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 d-flex">
        <div class="howitwork-info">
          <h5>02</h5>
          <h6>Créer votre CV</h6>
          <p>
            Complétez votre profil en ajoutant des informations personnelles,
            des expériences professionnelles, des formations et des compétences.
            Téléchargez votre CV pour améliorer votre profil. Un CV bien conçu
            augmente votre visibilité auprès des employeurs potentiels et vous
            aide à vous démarquer dans les recherches d'emploi.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 d-flex">
        <div class="howitwork-info">
          <h5>03</h5>
          <h6>Postuler et trouver un emploi</h6>
          <p>
            Utilisez nos outils de recherche pour trouver des offres d'emploi
            correspondant à vos critères. Consultez les descriptions de poste
            pour vous assurer qu'elles vous conviennent et postulez aux postes
            adéquats en soumettant votre CV et les documents requis. Postuler
            via notre plateforme simplifie le processus de candidature et vous
            permet de gérer facilement vos candidatures en un seul endroit.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/How It Works-->

<!-- CTA Section -->
<section class="cta-section mt-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="cta-content">
          <h3>
            Trouvez votre <span>emploi</span>
            de rêve avec Memploi.
          </h3>
          <p>
            Télécharger un CV bien conçu augmente votre visibilité auprès des
            employeurs potentiels et vous aide à vous démarquer dans les
            recherches d'emploi.
          </p>
          <div class="cta-btn">
            <a [routerLink]="routes.addlisting" class="btn-primary postad-btn"
              >CRÉEZ CV</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="cta-img"></div>
      </div>
    </div>
  </div>
</section>
<!-- /CTA Section -->

<!--How It Works-->
<section class="howitworks mt-4">
  <div class="container">
    <h3>Entreprises</h3>
    <p>
      Lorsque vous créez un compte sur memploi.com, vous accédez à un tableau de
      bord dédié à votre entreprise qui simplifie la gestion des offres d'emploi
      et des interactions avec les candidats. Ce hub centralisé facilite
      l'organisation et la supervision de vos efforts de recrutement. Publier
      des offres d'emploi sur memploi.com est simple et très efficace. En
      fournissant des descriptions détaillées, des exigences et des avantages,
      vous pouvez vous assurer que vos annonces attirent les bons talents. Notre
      plateforme augmente votre visibilité auprès d'un large pool de candidats
      qualifiés, maximisant ainsi vos chances de trouver le candidat idéal pour
      vos postes vacants.
    </p>
    <p>
      Nos outils de recherche avancés sont conçus pour vous aider à filtrer et à
      identifier efficacement les candidats qui répondent à vos critères
      spécifiques. Vous pouvez consulter des profils de candidats et des CV
      détaillés, ce qui facilite la présélection et la sélection des meilleurs
      candidats. Memploy.com simplifie l'ensemble du processus de recrutement,
      vous permettant de contacter les candidats potentiels, de planifier des
      entretiens et de gérer les communications de manière fluide. En utilisant
      memploi.com, vous bénéficiez d'un processus de recrutement plus organisé,
      efficace et performant, vous permettant de vous concentrer sur la
      recherche et l'embauche des candidats idéaux pour votre entreprise.
    </p>
    <div class="row">
      <div class="col-lg-4 col-md-4 d-flex">
        <div class="howitwork-info">
          <h5>01</h5>
          <h6>Créer un compte et une entreprise</h6>
          <p>
            Inscrivez votre entreprise sur notre plateforme en fournissant les
            informations nécessaires telles que le nom de l'entreprise,
            l'adresse e-mail et un mot de passe sécurisé. Cela vous donne accès
            à un tableau de bord dédié à votre entreprise où vous pouvez gérer
            les offres d'emploi et les interactions avec les candidat
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 d-flex">
        <div class="howitwork-info">
          <h5>02</h5>
          <h6>Publier des offres d'emploi</h6>
          <p>
            Créez et publiez des annonces en fournissant des descriptions
            détaillées, des exigences et des avantages. Publier des offres
            d'emploi sur notre plateforme augmente votre visibilité auprès d'un
            large pool de candidats qualifiés et vous aide à attirer les bons
            talents efficacement.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 d-flex">
        <div class="howitwork-info">
          <h5>03</h5>
          <h6>Trouver des candidats compétents</h6>
          <p>
            Utilisez nos outils de recherche avancés pour filtrer et trouver des
            candidats correspondant à vos critères de poste. Consultez les
            profils et les CV des candidats pour identifier les potentiels
            correspondances. Notre plateforme simplifie le processus de
            recrutement, vous permettant de contacter les candidats, de
            planifier des entretiens et de gérer les communications de manière
            fluide
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/How It Works-->

<!-- CTA Section -->
<section class="cta-section mt-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="cta-content">
          <h3>
            Trouvez votre le <span>candidat</span>
            parfait avec Memploi.
          </h3>
          <p>
            Commencez dès aujourd'hui à utiliser notre plateforme pour améliorer
            vos efforts de recrutement et vous connecter avec les meilleurs
            talents.
          </p>
          <div class="cta-btn">
            <a [routerLink]="routes.addlisting" class="btn-primary postad-btn"
              >CRÉEZ ENTREPRISE</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="cta-img"></div>
      </div>
    </div>
  </div>
</section>
<!-- /CTA Section -->
