<div class="">
  <ul class="dashborad-menus dashborad-menus-2 sub-menu">
    <li [ngClass]="[path === 0 ? 'active' : '']">
      <a (click)="switcher(0)">
        <span>Resumé</span>
      </a>
    </li>
    <li [ngClass]="[path === 1 ? 'active' : '']">
      <a (click)="switcher(1)">
        <span>Expériences</span>
      </a>
    </li>
    <li [ngClass]="[path === 2 ? 'active' : '']">
      <a (click)="switcher(2)">
        <span>Educations</span>
      </a>
    </li>
    <li [ngClass]="[path === 3 ? 'active' : '']">
      <a (click)="switcher(3)">
        <span>Réferences</span>
      </a>
    </li>
    <li [ngClass]="[path === 4 ? 'active' : '']">
      <a (click)="switcher(4)">
        <span>Compétences</span>
      </a>
    </li>
    <li [ngClass]="[path === 5 ? 'active' : '']">
      <a (click)="switcher(5)">
        <span>Documents</span>
      </a>
    </li>
    <li [ngClass]="[path === 6 ? 'active' : '']">
      <a (click)="switcher(6)">
        <span>Mon CV</span>
      </a>
    </li>
  </ul>
</div>

<div class="profile-content">
  <div class="row dashboard-info">
    <div class="col-lg-12">
      <div class="card dash-cards mb-4" *ngIf="path == 0">
        <div class="card-header">
          <h4>Resumé Professionel</h4>
        </div>
        <div class="card-body">
          <div class="profile-form" *ngIf="cv">
            <div>
              <div class="row mb-4">
                <div class="input-block col-md-12">
                  <label for="Name" class="col-form-label"
                    >Titre Professionel</label
                  >
                  <div class="pass-group group-img">
                    <span class="lock-icon"><i class="feather-user"></i></span>
                    <input
                      type="text"
                      [(ngModel)]="cv.title_prof"
                      class="form-control"
                      placeholder="Exemple: Comptable Junior à Monkata Services"
                    />
                  </div>
                </div>
              </div>
              <div class="input-block mb-4 mt-4">
                <label for="Note" class="col-form-label"
                  >Resumé Profesionnel</label
                >
                <div class="pass-group group-img">
                  <textarea
                    rows="4"
                    class="form-control"
                    [(ngModel)]="cv.profile"
                    placeholder="{{ ph_prof }}"
                  >
                  </textarea>
                </div>
              </div>
              <div class="row mb-4"></div>
              <button class="btn btn-primary" (click)="SaveUserCV($event)">
                Modifier
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card dash-cards mb-4" *ngIf="path == 1">
        <div class="card-header">
          <h4>
            Experiences Profesionnelles
            <span *ngIf="works.length > 0">- ({{ works.length }})</span>
          </h4>
          <a class="nav-link header-login add-listing" (click)="addWork($event)"
            ><i class="fa-solid fa-plus"></i
          ></a>
        </div>
        <div class="card-body">
          <div class="profile-form" *ngIf="cv">
            <div id="works-{{ w.id }}" *ngFor="let w of works; let i = index">
              <div class="row mb-4">
                <div class="col-lg-6 col-md-6">
                  <div class="input-block formlast-input">
                    <label for="fa-google-plus-g" class="col-form-label"
                      >Etablissement</label
                    >
                    <div class="pass-group group-img">
                      <input
                        type="text"
                        [(ngModel)]="w.etablissement"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="input-block formlast-input">
                    <label for="instagram" class="col-form-label">Poste </label>
                    <div class="pass-group group-img">
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="w.poste"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-4">
                <div class="col-lg-6 col-md-6">
                  <div class="input-block formlast-input">
                    <label for="fa-google-plus-g" class="col-form-label"
                      >Pays</label
                    >
                    <div class="pass-group group-img">
                      <input
                        type="test"
                        [(ngModel)]="w.country"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="input-block formlast-input">
                    <label for="instagram" class="col-form-label">Ville </label>
                    <div class="pass-group group-img">
                      <span class="lock-icon"
                        ><i class="fa fa-location-arrow"></i
                      ></span>
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="w.city"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-md-3">
                  <div class="input-block formlast-input">
                    <label for="fa-google-plus-g" class="col-form-label"
                      >Date Debut</label
                    >
                    <div class="pass-group group-img">
                      <span class="lock-icon"
                        ><i class="fa fa-calendar"></i
                      ></span>
                      <input
                        type="date"
                        [(ngModel)]="w.date_debut"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-block formlast-input">
                    <label for="instagram" class="col-form-label"
                      >Date fin
                    </label>
                    <div class="pass-group group-img">
                      <span class="lock-icon"
                        ><i class="fa fa-calendar"></i
                      ></span>
                      <input
                        type="date"
                        class="form-control"
                        [(ngModel)]="w.date_fin"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-block formlast-input">
                    <label for="fa-google-plus-g" class="col-form-label"
                      >Type contrat</label
                    >
                    <mat-select
                      [(ngModel)]="w.type_contrat"
                      [ngModelOptions]="{ standalone: true }"
                      class="form-control"
                      name="type_ent"
                      placeholder="Categorie"
                    >
                      <mat-option
                        *ngFor="let option of contratOptions"
                        [value]="option"
                      >
                        {{ option }}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-block formlast-input">
                    <label for="instagram" class="col-form-label"
                      >Horaire de travail
                    </label>
                    <mat-select
                      [(ngModel)]="w.horaire_de_travail"
                      [ngModelOptions]="{ standalone: true }"
                      class="form-control"
                      name="type_ent"
                      placeholder="Categorie"
                    >
                      <mat-option
                        *ngFor="let option of horaireOptions"
                        [value]="option"
                      >
                        {{ option }}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>

              <div class="row mb-4">
                <div class="col-lg-12 col-md-12">
                  <div class="input-block">
                    <label for="Email" class="col-form-label"
                      >Description</label
                    >
                    <div class="group-img">
                      <textarea
                        rows="4"
                        class="form-control"
                        [(ngModel)]="w.description"
                      >
                      </textarea>
                    </div>
                  </div>
                </div>
              </div>
              <button
                style="margin-right: 1%"
                class="btn btn-primary"
                (click)="delWork(w, i, $event)"
              >
                <i class="fa-solid fa-close"></i>
              </button>
              <button
                class="btn btn-primary"
                style="margin-left: 1%"
                (click)="editWork(w, i, $event)"
              >
                <i class="fa-solid fa-pencil"></i>
              </button>

              <hr />
            </div>
          </div>
        </div>
      </div>

      <div class="card dash-cards mb-4" *ngIf="path == 2">
        <div class="card-header">
          <h4>
            Etudes & Certification
            <span *ngIf="etudes.length > 0">- ({{ etudes.length }})</span>
          </h4>
          <a
            class="nav-link header-login add-listing"
            (click)="addEtude($event)"
            ><i class="fa-solid fa-plus"></i
          ></a>
        </div>
        <div class="card-body">
          <div class="profile-form" *ngIf="cv">
            <div id="works-{{ w.id }}" *ngFor="let w of etudes; let i = index">
              <div class="row mb-4">
                <div class="col-md-4">
                  <div class="input-block formlast-input">
                    <label for="fa-google-plus-g" class="col-form-label"
                      >Etablissement</label
                    >
                    <div class="pass-group group-img">
                      <input
                        type="text"
                        [(ngModel)]="w.institution"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="input-block formlast-input">
                    <label for="instagram" class="col-form-label"
                      >Domaine d'etudes</label
                    >
                    <div class="pass-group group-img">
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="w.domaine"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="input-block formlast-input">
                    <label for="instagram" class="col-form-label"
                      >Diplome/Certificat Obtenu</label
                    >
                    <div class="pass-group group-img">
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="w.degree"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-4">
                <div class="col-lg-6 col-md-6">
                  <div class="input-block formlast-input">
                    <label for="fa-google-plus-g" class="col-form-label"
                      >Pays</label
                    >
                    <div class="pass-group group-img">
                      <input
                        type="test"
                        [(ngModel)]="w.country"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="input-block formlast-input">
                    <label for="instagram" class="col-form-label">Ville </label>
                    <div class="pass-group group-img">
                      <span class="lock-icon"
                        ><i class="fa fa-location-arrow"></i
                      ></span>
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="w.city"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-md-4">
                  <div class="input-block formlast-input">
                    <label for="fa-google-plus-g" class="col-form-label"
                      >Date Debut</label
                    >
                    <div class="pass-group group-img">
                      <span class="lock-icon"
                        ><i class="fa fa-calendar"></i
                      ></span>
                      <input
                        type="date"
                        [(ngModel)]="w.date_debut"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="input-block formlast-input">
                    <label for="instagram" class="col-form-label"
                      >Date fin
                    </label>
                    <div class="pass-group group-img">
                      <span class="lock-icon"
                        ><i class="fa fa-calendar"></i
                      ></span>
                      <input
                        type="date"
                        class="form-control"
                        [(ngModel)]="w.date_fin"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="input-block formlast-input">
                    <label for="fa-google-plus-g" class="col-form-label"
                      >Type etudes</label
                    >
                    <mat-select
                      [(ngModel)]="w.type_etudes"
                      [ngModelOptions]="{ standalone: true }"
                      class="form-control"
                      name="type_ent"
                      placeholder="Type etudes"
                    >
                      <mat-option
                        *ngFor="let option of typeEtudesOptions"
                        [value]="option"
                      >
                        {{ option }}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>

              <div class="row mb-4">
                <div class="col-lg-12 col-md-12">
                  <div class="input-block">
                    <label for="Email" class="col-form-label"
                      >Description</label
                    >
                    <div class="group-img">
                      <textarea
                        rows="4"
                        class="form-control"
                        [(ngModel)]="w.description"
                      >
                      </textarea>
                    </div>
                  </div>
                </div>
              </div>
              <button
                style="margin-right: 1%"
                class="btn btn-primary"
                (click)="delEtude(w, i, $event)"
              >
                <i class="fa-solid fa-close"></i>
              </button>
              <button
                class="btn btn-primary"
                style="margin-left: 1%"
                (click)="editEtude(w, i, $event)"
              >
                <i class="fa-solid fa-pencil"></i>
              </button>

              <hr />
            </div>
          </div>
        </div>
      </div>

      <div class="card dash-cards mb-4" *ngIf="path == 3">
        <div class="card-header">
          <h4>
            Réferences
            <span *ngIf="refs.length > 0">- ({{ refs.length }})</span>
          </h4>
          <a
            class="nav-link header-login add-listing"
            style="display: inline-block"
          >
            <i
              class="fa-solid fa-plus"
              (click)="addRef($event)"
              style="margin-right: 0.5%"
            ></i>
          </a>
        </div>
        <div class="card-body">
          <div class="profile-form" *ngIf="cv">
            <div id="works-{{ w.id }}" *ngFor="let w of refs; let i = index">
              <div class="row mb-4">
                <div class="col-md-4">
                  <div class="input-block formlast-input">
                    <label for="instagram" class="col-form-label"
                      >Nom Complet</label
                    >
                    <div class="pass-group group-img">
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="w.nom_complet"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="input-block formlast-input">
                    <label for="instagram" class="col-form-label">Titre</label>
                    <div class="pass-group group-img">
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="w.titre"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="input-block formlast-input">
                    <label for="fa-google-plus-g" class="col-form-label"
                      >Institution</label
                    >
                    <div class="pass-group group-img">
                      <input
                        type="text"
                        [(ngModel)]="w.institution"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-4">
                <div class="col-md-4">
                  <div class="input-block formlast-input">
                    <label for="fa-google-plus-g" class="col-form-label"
                      >Téléphone au travail</label
                    >
                    <div class="pass-group group-img">
                      <input
                        type="phone"
                        [(ngModel)]="w.phone_a"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="input-block formlast-input">
                    <label for="fa-google-plus-g" class="col-form-label"
                      >Téléphone personel</label
                    >
                    <div class="pass-group group-img">
                      <input
                        type="phone"
                        [(ngModel)]="w.phone_b"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="input-block formlast-input">
                    <label for="instagram" class="col-form-label">Email </label>
                    <div class="pass-group group-img">
                      <span class="lock-icon"><i class="fa fa-email"></i></span>
                      <input
                        type="email"
                        class="form-control"
                        [(ngModel)]="w.email"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <button
                style="margin-right: 1%"
                class="btn btn-primary"
                (click)="delRef(w, i, $event)"
              >
                <i class="fa-solid fa-close"></i>
              </button>
              <button
                class="btn btn-primary"
                style="margin-left: 1%"
                (click)="editRef(w, i, $event)"
              >
                <i class="fa-solid fa-pencil"></i>
              </button>

              <hr />
            </div>
          </div>
        </div>
      </div>

      <div class="card dash-card mb-4" *ngIf="path == 4">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="card-header">
                <h4>Langues</h4>
              </div>
              <div class="card-body">
                <div class="profile-form" *ngIf="cv">
                  <div>
                    <div class="row mb-4">
                      <div class="input-block col-md-4">
                        <div class="pass-group group-img">
                          <mat-select
                            [(ngModel)]="selectedLang"
                            [ngModelOptions]="{ standalone: true }"
                            class="form-control"
                            name="lang"
                            placeholder="Langue"
                          >
                            <mat-option
                              value="{{ option }}"
                              *ngFor="let option of langOptions"
                            >
                              {{ option }}
                            </mat-option>
                          </mat-select>
                        </div>
                      </div>
                      <div class="input-block col-md-4">
                        <div class="pass-group group-img">
                          <mat-select
                            [(ngModel)]="selectedProf"
                            [ngModelOptions]="{ standalone: true }"
                            class="form-control"
                            name="lang"
                            placeholder="niveau"
                          >
                            <mat-option
                              value="{{ option }}"
                              *ngFor="let option of profOptions"
                            >
                              {{ option }}
                            </mat-option>
                          </mat-select>
                        </div>
                      </div>
                      <div class="input-block col-md-4 mb-4">
                        <div class="pass-group group-img">
                          <button
                            class="btn btn-primary"
                            (click)="addLang($event)"
                          >
                            Ajouter
                          </button>
                        </div>
                      </div>
                      <hr />
                    </div>
                  </div>
                  <div class="mt-4">
                    <div
                      class="col-md-12"
                      *ngFor="let item of langs; let i = index"
                      style="display: inline-block"
                    >
                      <p>
                        <b> {{ item.name }}</b> |
                        <i> {{ item?.proficiency }} </i>
                        <i
                          style="float: right"
                          class="fa fa-close text-danger"
                          (click)="delLang(item, i, $event)"
                        ></i>
                      </p>
                      <hr />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="card-header">
                <h4>
                  Compétences
                  <span *ngIf="skills.length > 0">- ({{ skills.length }})</span>
                </h4>
              </div>
              <div class="card-body">
                <div class="profile-form" *ngIf="cv">
                  <div>
                    <div class="row mb-4">
                      <div class="input-block col-md-4">
                        <div class="pass-group group-img">
                          <input
                            type="text"
                            [(ngModel)]="selectedSkill"
                            class="form-control"
                            placeholder="Exemple: Java"
                          />
                        </div>
                      </div>
                      <div class="input-block col-md-4">
                        <div class="pass-group group-img">
                          <mat-select
                            [(ngModel)]="selectedExp"
                            [ngModelOptions]="{ standalone: true }"
                            class="form-control"
                            name="lang"
                            placeholder="Expériences"
                          >
                            <mat-option
                              value="{{ option }}"
                              *ngFor="let option of expOptions"
                            >
                              {{ option }}
                            </mat-option>
                          </mat-select>
                        </div>
                      </div>
                      <div class="input-block col-md-4 mb-4">
                        <div class="pass-group group-img">
                          <button
                            class="btn btn-primary"
                            (click)="addSkill($event)"
                          >
                            Ajouter
                          </button>
                        </div>
                      </div>
                      <hr />
                    </div>
                  </div>
                  <div class="mt-4">
                    <div
                      class="col-md-12"
                      *ngFor="let item of skills; let i = index"
                      style="display: inline-block"
                    >
                      <p>
                        <b> {{ item?.name }}</b> |
                        <i> {{ item?.years }} </i>
                        <i
                          style="float: right"
                          class="fa fa-close text-danger"
                          (click)="delSkill(item, i, $event)"
                        ></i>
                      </p>
                      <hr />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card media-section" *ngIf="path == 5">
        <div class="card-header">
          <h4>Documents</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6 col-md-6 featured-img1">
              <div class="input-block col-md-4 mb-4">
                <div class="pass-group group-img">
                  <mat-select
                    [(ngModel)]="selectedTypeDoc"
                    [ngModelOptions]="{ standalone: true }"
                    class="form-control"
                    name="lang"
                    placeholder="Type Document"
                  >
                    <mat-option
                      value="{{ option }}"
                      *ngFor="let option of typeDocOptions"
                    >
                      {{ option }}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
              <div class="input-block col-md-4">
                <div class="pass-group group-img">
                  <input
                    type="text"
                    [(ngModel)]="name_doc"
                    class="form-control"
                    maxlength="20"
                    placeholder="Nom document"
                  />
                </div>
              </div>
              <div class="media-image mt-4" *ngIf="selectedFile">
                <div class="progress my-3" *ngIf="progress > 0">
                  <div
                    class="progress-bar progress-bar-info progress-bar-striped"
                    role="progressbar"
                    attr.aria-valuenow="{{ progress }}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    [ngStyle]="{ width: progress + '%' }"
                  >
                    {{ progress }}%
                  </div>
                </div>
                <img
                  src="assets/img/docs/{{ getImg(selectedFile.type) }}"
                  alt=""
                  width="128"
                />
                <a (click)="clearDoc()" class="profile-img-del"
                  ><i class="feather-trash-2"></i
                ></a>
              </div>
              <div class="settings-upload-btn mt-4">
                <input
                  (change)="onFileSelected($event)"
                  type="file"
                  accept=".jpg, .jpeg, .png, .pdf, .doc , .docx"
                  name="doucument"
                  class="hide-input image-upload"
                  id="file"
                />
                <label for="file" class="file-upload" *ngIf="!selectedFile"
                  >Choisir fichier</label
                >
              </div>
              <button
                [disabled]="!selectedTypeDoc"
                class="btn btn-primary"
                *ngIf="selectedFile"
                (click)="uploadDoc($event)"
              >
                Téleverser le document
              </button>
            </div>
          </div>
          <div class="gallery-media">
            <h6 class="media-title">Liste de vos documents</h6>
            <div class="galleryimg-upload row mb-4">
              <div
                class="gallery-upload col-md-2 mb-4"
                *ngFor="let doc of docs; let i = index"
              >
                <img
                  style="width: 128px"
                  src="assets/img/docs/{{ getImg(doc.mime) }}"
                  class="img-fluid"
                  alt=""
                />
                <a (click)="delDoc(doc, i, $event)" class="profile-img-del"
                  ><i class="feather-trash-2"></i
                ></a>
                <br />
                <div style="text-align: center">
                  <i> {{ doc.name }} - {{ doc.type_doc }} ({{ doc.id }})</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card" *ngIf="ccand && path == 6">
        <div class="card-header">
          <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <h4>Mon CV</h4>
        </div>
        <div class="card-body" id="letterContent">
          <app-mon-cv [ccand]="ccand" [showBtnDL]="true"> </app-mon-cv>
        </div>
      </div>
    </div>
  </div>
</div>
