<!-- Header -->
<header class="header" [class.fixed]="scrollPosition > 0">
  <div class="container">
    <nav class="navbar navbar-expand-lg header-nav">
      <div class="navbar-header">
        <a (click)="toggleSidebar()" id="mobile_btn">
          <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </a>
        <a routerLink="/" class="navbar-brand logo">
          <img
            src="assets/img/logo_2.png"
            class="img-fluid"
            alt="Logo"
            style="height: 60px"
          />
        </a>
      </div>
      <div class="main-menu-wrapper">
        <div class="menu-header">
          <a routerLink="/home" class="menu-logo">
            <img
              src="assets/img/logo_2.png"
              class="img-fluid"
              alt="Logo"
              style="height: 20px"
            />
          </a>
          <a id="menu_close" class="menu-close">
            <i class="fas fa-times"></i
          ></a>
        </div>
        <ul class="main-nav">
          <li class="nav-item dropdown logged-item" *ngIf="isMobile && login">
            <a
              routerLink="/profile"
              class="profile-userlink"
              aria-expanded="false"
            >
              <img [src]="avatar" *ngIf="avatar" />
              <span>{{ user?.firstName }} {{ user?.lastName }}</span>
            </a>
          </li>
          <li [ngClass]="[path == '/home' ? 'active' : '']">
            <a routerLink="/home"> Accueil</a>
          </li>
          <li [ngClass]="[path == '/jobs' ? 'active' : '']">
            <a routerLink="/jobs">Jobs</a>
          </li>

          <li [ngClass]="[path == '/contact' ? 'active' : '']">
            <a routerLink="/contact"> Contact</a>
          </li>

          <li *ngIf="isMobile && login">
            <a class="dropdown-item" (click)="logout()">Déconnexion</a>
          </li>
        </ul>
      </div>
      <ul class="nav header-navbar-rht" *ngIf="!login">
        <li class="nav-item">
          <a class="nav-link header-login add-listing" (click)="loginNow()"
            ><i class="fa-solid fa-plus"></i> Nouveau Poste</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link header-login btn-primary" (click)="loginNow()">
            Compte</a
          >
        </li>
      </ul>
      <ul class="nav header-navbar-rht" *ngIf="login">
        <li class="nav-item">
          <a
            class="nav-link header-login add-listing"
            routerLink="/jobs/add-job"
            ><i class="fa-solid fa-plus"></i> Nouveau Poste</a
          >
        </li>
        <li class="nav-item dropdown has-arrow logged-item">
          <a
            routerLink="/profile"
            class="dropdown-toggle profile-userlink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img [src]="avatar" *ngIf="avatar" />
            <span>{{ user?.firstName }} {{ user?.lastName }}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" routerLink="/profile">Candidat</a>
            <a class="dropdown-item" routerLink="/compagny" *ngIf="ent > 0"
              >Entreprise</a
            >
            <a class="dropdown-item" routerLink="/jobs/add-job" *ngIf="ent > 0"
              >Nouveau Poste</a
            >
            <a class="dropdown-item" routerLink="/jobs/add-ent" *ngIf="ent == 0"
              >Créer Entreprise</a
            >
            <a class="dropdown-item" (click)="logout()">Déconnexion</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- /Header -->
