<div class="profile-content">
  <div class="row dashboard-info">
    <div class="col-lg-9">
      <div class="card dash-cards">
        <div class="card-header">
          <h4>Profile Details</h4>
        </div>
        <div class="card-body">
          <div class="progress my-3 col-md-6" *ngIf="progress > 0">
            <div
              class="progress-bar progress-bar-info progress-bar-striped"
              role="progressbar"
              attr.aria-valuenow="{{ progress }}"
              aria-valuemin="0"
              aria-valuemax="100"
              [ngStyle]="{ width: progress + '%' }"
            >
              {{ progress }}%
            </div>
          </div>
          <div class="profile-photo">
            <div class="profile-img">
              <div class="settings-upload-img">
                <img [src]="avatar" alt="profile" />
              </div>
              <div class="settings-upload-btn">
                <input
                  (change)="onFileSelected($event)"
                  type="file"
                  accept="image/*"
                  name="image"
                  class="hide-input image-upload"
                  id="file"
                />
                <label for="file" class="file-upload">Avatar</label>
              </div>
            </div>
          </div>

          <div class="profile-form" *ngIf="cv">
            <div>
              <h5>Informations personnelles</h5>
              <hr />
              <div class="row mb-4 mt-4">
                <div class="input-block col-lg-4 col-md-4">
                  <label for="Name" class="col-form-label">Prénom</label>
                  <div class="pass-group group-img">
                    <span class="lock-icon"><i class="feather-user"></i></span>
                    <input
                      type="text"
                      [(ngModel)]="cv.firstName"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="input-block col-lg-4 col-md-4">
                  <label for="Name" class="col-form-label">Nom</label>
                  <div class="pass-group group-img">
                    <span class="lock-icon"><i class="feather-user"></i></span>
                    <input
                      type="text"
                      [(ngModel)]="cv.lastName"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="input-block col-lg-4 col-md-4">
                  <label for="Name" class="col-form-label">Sexe</label>
                  <div class="pass-group group-img">
                    <mat-select
                      [(ngModel)]="cv.sexe"
                      [ngModelOptions]="{ standalone: true }"
                      class="form-control"
                      name="sexe"
                      placeholder="Selectioner votre sexe"
                    >
                      <mat-option value="masculin"> Masculin </mat-option>
                      <mat-option value="feminin"> Feminin </mat-option>
                      <mat-option value="non_determine">
                        Non determiné
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-lg-4 col-md-4">
                  <div class="input-block">
                    <label for="phone" class="col-form-label">NIN</label>
                    <div class="pass-group group-img">
                      <span class="lock-icon"
                        ><i class="fa fa-id-card"></i
                      ></span>
                      <input
                        type="number"
                        class="form-control"
                        [(ngModel)]="cv.nin"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="input-block">
                    <label for="phone" class="col-form-label">NIF</label>
                    <div class="pass-group group-img">
                      <span class="lock-icon"
                        ><i class="fa fa fa-id-card"></i
                      ></span>
                      <input
                        type="number"
                        class="form-control"
                        [(ngModel)]="cv.nif"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="input-block">
                    <label for="Email" class="col-form-label"
                      >No Passeport</label
                    >
                    <div class="group-img">
                      <i class="fa fa-id-card"></i>
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="cv.passport"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <h5>Coordonées et autres</h5>
              <hr />
              <div class="row mb-4 mt-4">
                <div class="col-md-4">
                  <div class="input-block formlast-input">
                    <label for="fa-google-plus-g" class="col-form-label"
                      >Pays</label
                    >
                    <div class="pass-group group-img">
                      <span class="lock-icon"><i class="fa fa-globe"></i></span>
                      <input
                        type="text"
                        [(ngModel)]="cv.country"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="input-block formlast-input">
                    <label for="instagram" class="col-form-label">Ville</label>
                    <div class="pass-group group-img">
                      <span class="lock-icon"
                        ><i class="fa fa-location-arrow"></i
                      ></span>
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="cv.city"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="input-block">
                    <label for="Category" class="col-form-label label-heading"
                      >Etes vous prêt a se relocaliser?
                    </label>
                    <div class="row category-listing">
                      <div class="col-lg-4">
                        <ul>
                          <li>
                            <label class="custom_check">
                              <input
                                type="checkbox"
                                [(ngModel)]="cv.relocate"
                                name="wireless-internet"
                              />
                            </label>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-lg-4 col-md-4">
                  <div class="input-block">
                    <label for="phone" class="col-form-label">Cellulaire</label>
                    <div class="pass-group group-img">
                      <span class="lock-icon"
                        ><i class="feather-phone-call"></i
                      ></span>
                      <input
                        type="tel"
                        class="form-control"
                        [(ngModel)]="cv.telephone_a"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="input-block">
                    <label for="phone" class="col-form-label">Domicile</label>
                    <div class="pass-group group-img">
                      <span class="lock-icon"
                        ><i class="feather-phone-call"></i
                      ></span>
                      <input
                        type="tel"
                        class="form-control"
                        [(ngModel)]="cv.telephone_b"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="input-block">
                    <label for="Email" class="col-form-label"
                      >Email de contact</label
                    >
                    <div class="group-img">
                      <i class="feather-mail"></i>
                      <input
                        disabled="true"
                        type="text"
                        class="form-control"
                        [(ngModel)]="cv.email_contact"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-primary" (click)="SaveUserCV($event)">
                Modifier
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="profile-sidebar">
        <div class="card">
          <div class="card-header">
            <h4>Modifier Mot de passe</h4>
          </div>
          <div class="card-body">
            <div>
              <div class="input-block">
                <label for="Password" class="col-form-label"
                  >Ancien mot de passe</label
                >
                <div class="pass-group group-img">
                  <span class="lock-icon"><i class="feather-lock"></i></span>
                  <input
                    [(ngModel)]="pass.oldPassword"
                    type="password"
                    class="form-control pass-input"
                    placeholder="Ancien mot de passe"
                  />
                </div>
              </div>
              <div class="input-block mt-4">
                <label for="Password" class="col-form-label"
                  >Nouveau mot de passe
                </label>
                <div class="pass-group group-img">
                  <span class="lock-icon"><i class="feather-lock"></i></span>
                  <input
                    [(ngModel)]="pass.newPassword"
                    [type]="toggleData ? 'text' : 'password'"
                    class="form-control pass-input"
                    value=""
                  />

                  <span
                    [ngClass]="
                      toggleData === true
                        ? 'toggle-password feather-eye'
                        : 'toggle-password feather-eye-off'
                    "
                    (click)="togglePassword()"
                    (keydown.enter)="togglePassword()"
                    (keydown.space)="togglePassword()"
                    tabindex="0"
                  ></span>
                </div>
              </div>
              <div class="input-block mt-4 mb-4">
                <label for="New" class="col-form-label"
                  >Confirmé nouveau mot de passe</label
                >
                <div class="pass-group group-img">
                  <span class="lock-icon"><i class="feather-lock"></i></span>
                  <input
                    [(ngModel)]="pass.newPassword2"
                    [type]="toggle ? 'text' : 'password'"
                    class="form-control pass-input"
                    value=""
                  />
                  <span
                    [ngClass]="
                      toggle === true
                        ? 'toggle-password feather-eye'
                        : 'toggle-password feather-eye-off'
                    "
                    (click)="icon()"
                    (keydown.enter)="icon()"
                    (keydown.space)="icon()"
                    tabindex="0"
                  ></span>
                </div>
              </div>
              <button class="btn btn-primary" (click)="changePassword($event)">
                Modifier mot de passe
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
