.my-table tr {
    height: 12px;
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
}

.my-table tr td {
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
}

.my-table tr th {
    padding: 0.2%;
    font-weight: bold;
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
}

.my-table {
    margin-bottom: 2%;
}