<app-breadcrumb
  [title]="'Admin Monkata'"
  [items]=""
  [active_item]="'Dashboard'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="card small-widget">
        <div class="card-body">
          <span class="f-light">Utilisateurs</span>
          <div class="d-flex align-items-end gap-1">
            <h4>{{ stat.users }}</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card small-widget">
        <div class="card-body">
          <span class="f-light">Entreprises</span>
          <div class="d-flex align-items-end gap-1">
            <h4>{{ stat.ents }}</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card small-widget">
        <div class="card-body">
          <span class="f-light">Jobs</span>
          <div class="d-flex align-items-end gap-1">
            <h4>{{ stat.jobs }}</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card small-widget">
        <div class="card-body">
          <span class="f-light">Postulants</span>
          <div class="d-flex align-items-end gap-1">
            <h4>{{ stat.post }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
