<!-- Footer -->
<footer class="footer footer-eight">
  <!-- Footer Top -->
  <div class="footer-top aos aos-init aos-animate" data-aos="fade-up">
    <div class="container">
      <div class="footer-bottom">
        <div class="container">
          <!-- Copyright -->
          <div class="copyright">
            <div class="row">
              <div class="col-md-6 aos" data-aos="fade-up">
                <div class="copyright-text">
                  <p class="mb-0">© 2024 Monkata. All Rights Reserved.</p>
                </div>
              </div>
              <div class="col-md-6 aos" data-aos="fade-up"></div>
            </div>
          </div>
          <!-- /Copyright -->
        </div>
      </div>
    </div>
  </div>
  <!-- /Footer Top -->
</footer>
<!-- /Footer -->
