<div class="card">
  <div class="card-header">
    <h4>Informations Generales</h4>
  </div>
  <div class="card-body">
    <div>
      <div class="row mb-4">
        <!-- Job Title -->

        <div
          class="input-block col-md-6"
          *ngIf="selectedEnt && selectedEnt.approuved"
        >
          <label for="Price" class="col-form-label">Burreau</label>
          <select
            class="form-control"
            [(ngModel)]="selectedAd"
            placeholder="Selectioner l'adresse de travail"
          >
            <option *ngFor="let ad of selectedEnt.adresses" [value]="ad.id">
              {{ ad.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="row mb-2" *ngIf="selectedEnt && !selectedEnt?.approuved">
        <h6 class="text-center alert alert-warning">
          Votre entreprise n'a pas encore été approuvée, vous ne pouvez donc pas
          ajouter de poste pour le moment. Pour résoudre ce problème, veuillez
          contacter MEmploi en cliquant
          <a href="mailto:memploi@monkata.com">ici</a>. Dans votre email,
          veuillez indiquer : Le nom de votre entreprise. Le numéro
          d'identification de votre entreprise (facultatif). Les coordonnées de
          la personne à contacter. Toute information supplémentaire qui pourrait
          faciliter l'approbation. Notre équipe examinera votre demande dans les
          plus brefs délais et vous informera dès que votre entreprise sera
          approuvée. Merci pour votre compréhension et votre coopération.
        </h6>
      </div>

      <div class="row mb-2" *ngIf="selectedAd && selectedEnt">
        <!-- Job Title -->
        <div class="input-block col-md-4">
          <label for="titre_job" class="col-form-label">Titre du poste</label>
          <input
            type="text"
            id="titre_job"
            [(ngModel)]="job.titre_job"
            name="titre_job"
            class="form-control"
          />
        </div>

        <!-- ID Category -->
        <!-- ID Category -->

        <div class="input-block col-lg-4 col-md-4">
          <label for="Price" class="col-form-label">Categorie</label>
          <select
            class="form-control"
            [(ngModel)]="job.categorie"
            placeholder="Selectioner l'adresse de travail"
          >
            <option *ngFor="let cat of cats" [value]="cat.name">
              {{ cat.name }}
            </option>
          </select>
        </div>

        <div class="input-block col-lg-4 col-md-4">
          <label for="Price" class="col-form-label">Date Echeance</label>
          <input
            type="date"
            id="date_echeance"
            [(ngModel)]="job.date_echeance"
            name="date_echeance"
            class="form-control"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h5>Configuration</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <div class="col-sm-12">
          <h5 class="mb-0">Type d'emploi</h5>
        </div>

        <div class="row mt-4">
          <div class="col">
            <label
              class="d-block"
              for="edo-ani"
              *ngFor="let option of contratOptions"
            >
              <input
                class="radio_animated"
                type="radio"
                id="type_emploie-{{i}}"
                name="type_emploie"
                (change)="job.type_contrat = option"
                [value]="option"
              />
              {{ option }}
            </label>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="row">
          <div class="col-sm-12">
            <h5 class="mb-0">Environment de travail</h5>
          </div>

          <div class="row mt-4">
            <div class="col">
              <label
                class="d-block"
                for="edo-ani"
                *ngFor="let option of envOptions"
              >
                <input
                  class="radio_animated"
                  type="radio"
                  id="environment_de_travail-{{i}}"
                  (change)="job.env_de_travail = option"
                  type="radio"
                  name="environment_de_travail"
                  [value]="option"
                />
                {{ option }}
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="row">
          <div class="col-sm-12">
            <h5 class="mb-0">Horaire de Travail</h5>
          </div>

          <div class="row mt-4">
            <div class="col">
              <label
                class="d-block"
                for="edo-ani"
                *ngFor="let option of horaireOptions"
              >
                <input
                  class="radio_animated"
                  type="radio"
                  id="horaire_de_travail-{{i}}"
                  (change)="job.horaire_de_travail = option"
                  type="radio"
                  name="horaire_de_travail"
                  [value]="option"
                />
                {{ option }}
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="row">
          <div class="col-sm-12">
            <h5 class="mb-0">Salaire</h5>
          </div>

          <div class="row mt-4">
            <div class="col">
              <label
                class="d-block"
                for="edo-ani"
                *ngFor="let option of salaireOptions"
              >
                <input
                  class="radio_animated"
                  type="radio"
                  id="periode_de_salaire-{{i}}"
                  (change)="job.periode_salaire = option"
                  type="radio"
                  name="periode_de_salaire"
                  [value]="option"
                />
                {{ option }}
              </label>
            </div>

            <div class="col" *ngIf="job.periode_salaire">
              <div class="form-group">
                <label for="Price" class="col-form-label">Devise</label>
                <select
                  [(ngModel)]="job.currency"
                  [ngModelOptions]="{ standalone: true }"
                  class="form-control"
                  name="currenry"
                  placeholder="Devise"
                >
                  <option *ngFor="let opt of devOptions" [value]="opt">
                    {{ opt }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label for="salaire*"
                  >Salaire
                  <span *ngIf="job.periode_salaire"
                    >({{ job.periode_salaire }})</span
                  ></label
                >
                <input
                  type="number"
                  id="salaire"
                  [(ngModel)]="job.salaire"
                  name="salaire"
                  class="form-control"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4>Description du Poste</h4>
  </div>
  <div class="card-body">
    <div>
      <!-- Job Description -->
      <div class="input-block">
        <div class="NgxEditor__Wrapper">
          <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
          </ngx-editor-menu>
          <ngx-editor [editor]="editor" [(ngModel)]="job.description">
          </ngx-editor>
        </div>
      </div>

      <div class="row mt-4" *ngIf="selectedAd">
        <div class="col-md-6">
          <div class="card-header">
            <h4>Methode d'application</h4>
          </div>
          <div class="card-body">
            <div class="input-block featuresform-list mb-0">
              <ul>
                <li *ngFor="let option of repOptions">
                  <label class="custom_check">
                    <input
                      (change)="changeRec(option)"
                      type="radio"
                      [(ngModel)]="job.app_reception"
                      name="app_reception"
                      [value]="option"
                    />
                    <span class="checkmark"></span> {{ option }}
                  </label>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="card-header"
            *ngIf="
                      job.app_reception && job.app_reception != rec.memploi
                    "
          >
            <h4>Reception d'application</h4>
          </div>
          <div class="card-body">
            <div class="input-block mb-0">
              <div class="input-block" *ngIf="job.app_reception == rec.lien">
                <label for="lien_to_apply">Lien du poste</label>
                <input
                  type="text"
                  id="lien_to_apply"
                  [(ngModel)]="job.lien_to_apply"
                  name="lien_to_apply"
                  class="form-control"
                />
              </div>

              <div class="input-block" *ngIf="job.app_reception == rec.email">
                <label for="lien_to_apply">Email du poste</label>
                <input
                  type="email"
                  id="lien_to_apply"
                  [(ngModel)]="job.email_to_apply"
                  name="lien_to_apply"
                  class="form-control"
                />
              </div>

              <div
                class="input-block"
                *ngIf="job.app_reception == rec.whatsapp"
              >
                <label for="lien_to_apply">Numero de telephone du poste</label>
                <input
                  type="phone"
                  id="lien_to_apply"
                  [(ngModel)]="job.phone_to_apply"
                  name="lien_to_apply"
                  class="form-control"
                />
              </div>

              <div class="clearfix"></div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-header">
            <h4>Documents exigés</h4>
          </div>
          <div class="card-body">
            <div class="input-block featuresform-list mb-0">
              <ul>
                <li>
                  <label class="custom_check">
                    <input type="checkbox" [(ngModel)]="job.is_cv_require" />
                    <span class="checkmark"></span> CV
                  </label>
                </li>

                <li>
                  <label class="custom_check">
                    <input type="checkbox" [(ngModel)]="job.is_lm_require" />
                    <span class="checkmark"></span> Lettre de motivation
                  </label>
                </li>

                <li>
                  <label class="custom_check">
                    <input
                      type="checkbox"
                      [(ngModel)]="job.is_certificat_require"
                    />
                    <span class="checkmark"></span> Certificat
                  </label>
                </li>

                <li>
                  <label class="custom_check">
                    <input
                      type="checkbox"
                      [(ngModel)]="job.is_diplome_require"
                    />
                    <span class="checkmark"></span> Diplome
                  </label>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-outline-primary ml-4" (click)="addJob($event, true)">
  Publier
</button>

<button
  class="btn btn-outline-secondary ml-4"
  (click)="addJob($event, false)"
  style="margin-left: 2%"
>
  Sauvegarder
</button>
