<div class="dashboard-details">
  <div class="row dashboard-info">
    <div class="col-md-3" routerLink="/compagny/entreprise">
      <div class="card dash-cards p-2">
        <div class="card-body text-center">
          <div class="dash-top-content">
            <div class="dashcard-img">
              <img
                width="64"
                src="assets/img/icons/category-24.svg"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
          <div class="dash-widget-info">
            <h6>Entreprises</h6>
            <h3 class="counter">{{ ent }}</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card dash-cards p-2">
        <div class="card-body text-center">
          <div class="dash-top-content">
            <div class="dashcard-img">
              <img
                width="64"
                src="assets/img/category-icon.svg"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
          <div class="dash-widget-info">
            <h6>Emplois</h6>
            <h3 class="counter">{{ rep?.job }}</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card dash-cards p-2">
        <div class="card-body text-center">
          <div class="dash-top-content">
            <div class="dashcard-img">
              <img
                width="64"
                src="assets/img/icons/wed-icon-03.svg"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
          <div class="dash-widget-info">
            <h6>Bureaux</h6>
            <h3 class="counter">{{ rep?.ad }}</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3" routerLink="/compagny/recruitement">
      <div class="card dash-cards p-2">
        <div class="card-body text-center">
          <div class="dash-top-content">
            <div class="dashcard-img">
              <img
                width="64"
                src="assets/img/icons/service-3.svg"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
          <div class="dash-widget-info">
            <h6>Postulants</h6>
            <h3 class="counter">{{ rep?.post }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
