<!-- Footer -->
<footer class="footer footer-eight">
  <!-- Footer Top -->
  <div class="footer-top aos aos-init aos-animate" data-aos="fade-up">
    <div class="container">
      <!-- /Footer  Counter Section
      <div class="row">
        <div class="col-md-6 aos offset-3" data-aos="fade-up">
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">Subscribe</h2>
            <p>
              Subscribe to stay tuned for new web design and latest updates.
              Let's do it!
            </p>
            <div class="row">
              <div class="input-block col-md-9">
                <div class="group-img">
                  <i class="feather-mail"></i>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Email Address"
                  />
                </div>
              </div>
              <div class="input-block col-md-3">
                <button [routerLink]="routes.home1" class="btn btn-primary">
                  Subscribe
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
-->
      <div class="footer-bottom">
        <div class="container">
          <!-- Copyright -->
          <div class="copyright">
            <div class="row">
              <div class="col-md-6 aos" data-aos="fade-up">
                <div class="copyright-text">
                  <p class="mb-0">
                    © 2024
                    <a routerLink="monkata.com"> Monkata - {{ ver }} </a> - All
                    Rights Reserved.
                  </p>
                </div>
              </div>
              <div class="col-md-6 aos" data-aos="fade-up">
                <!-- Copyright Menu -->
                <div class="copyright-menu">
                  <ul class="policy-menu">
                    <li>
                      <a routerLink="/jobs/add-ent">Créer entreprise </a>
                    </li>
                    <li>
                      <a routerLink="/about">Apropos de nous </a>
                    </li>

                    <li>
                      <a routerLink="/terms-condition">Termes et conditions </a>
                    </li>

                    <li>
                      <a routerLink="/contact">Contactez-nous</a>
                    </li>
                  </ul>
                </div>
                <!-- /Copyright Menu -->
              </div>
            </div>
          </div>
          <!-- /Copyright -->
        </div>
      </div>
    </div>
  </div>
  <!-- /Footer Top -->
</footer>
<!-- /Footer -->
